__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/
env/

.env
*.pem
*.key
service-account*.json
credentials*.json

.DS_Store
Thumbs.db

*.aux.xml
*.ovr
*.tmp
*.lock
*.qgz~
*.qgs~

# Local project assets
data/raw/
intermediate/
